@import url('https://fonts.googleapis.com/css?family=Cinzel|Fjalla+One|Ubuntu');

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left:0;
    background-color: rgba(0,0,0, 0.9);
    overflow-y: auto;
    overflow-x: hidden;
    opacity:0;
    transition: opacity 1s;
    transition: margin-left .5s;
}body{  background-image: url("../images/128-190-g-2.jpg");}.borderwindow2 {  font-family: 'Ubuntu', sans-serif;  color: #f0f0f0;  max-width: 550px;  margin: auto;  border: 20px solid transparent;  padding: 25px;}.borderwindow {
  font-family: 'Ubuntu', sans-serif;  font-size:20px;  color: #f0f0f0;  max-width: 580px;  margin: auto;  border: 20px solid transparent;  padding: 25px;
  border-image: url("../images/border.png") 30 round;  -webkit-border-image: url("../images/border.png") 30 round; /* Safari 3.1-5 */  -o-border-image: url("../images/border.png") 30 round; /* Opera 11-12.1 */}.mainimg {  margin: auto;  width: 80%;  display: block;}.mainimg_small{  margin: auto;  width: 40%;  display: block;}.borderwindow a {  color: #efef00;  font-family: 'Ubuntu', sans-serif;  font-size:20px;}.socwindow{  font-family: 'Ubuntu', sans-serif;  font-size:20px;  color: #f0f0f0;  max-width: 550px;  margin: auto;  border: 20px solid transparent;  padding: 25px;  border-image: url("../images/border.png") 30 round;  -webkit-border-image: url("../images/border.png") 30 round; /* Safari 3.1-5 */  -o-border-image: url("../images/border.png") 30 round; /* Opera 11-12.1 */    text-align: center;}

.socicon{  width:64px;  padding:15px;}/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-image: url("../images/128-190-g.jpg");
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    text-align: center;
}

/* The navigation menu links */
.sidenav a {
    font-family: 'Cinzel', sans-serif;
    white-space: nowrap;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f0f0f0;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
font-size: 35px;
  font-weight: bold;
    color: #00ff00
}
.sidenav img {
    padding: 8px 8px 8px 32px;
    white-space: nowrap;
}

.maintext {

  text-align: center;
    margin: auto;
    cursor:pointer;
    font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
    padding: 8px 8px 8px 32px;
    color: #ffffff;
    transition: 0.25s
}

.txt {
    cursor:pointer;
    font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
    padding: 8px 8px 8px 32px;
    color: #ffffff;
    white-space: nowrap;
    transition: 0.25s
}

.txt:hover {
    transform: scale(1.15);
}

.locator
{
    opacity:0;
    position: fixed;
    transform:translate3d(0px, -100px, 0px);
    z-index: 5;
    transition: 0.5s;
}

.locator img {
  width:48px;
}

.arrow {
  cursor:pointer;
  width: 50px;
  margin-left: -5px;
  z-index: 4;
  transition: 0.25s;
  position: fixed;
}

.arrow:hover {
    transform: scale(1.1);
}

.navsprite {
  cursor:pointer;
  white-space: nowrap;
  text-align: center;
  max-width:140px;
  transition: 0.3s;
  transform:scale(1);
}

.navsprite:hover {
  transform: scale(1.15);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
